#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px Arial, Helvetica, sans-serif;
}

fieldset {
  border: medium none;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #dddddd;
  margin: 0 0 5px;
  padding: 10px;
}


#contact textarea {
  height: 200px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%fit-content;
  border: none;
  background: #4aaaa5;
  color: #ffffff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}